/* Allowable colors: #888B8D, #fff, #00AFD7, #C4D600, #000*/

.navbar {
  overflow: hidden;
  background-color: #00AFD7;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .icon {
  display: none;
}

.navbar .search-icon {
  display: none;
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 11px;
  font-size: 16px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 11px;
  margin-right: 16px;
  background: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #FF671F;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1076px) {

  .navbar a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar a.search-icon {
    float: right;
    display: block;
  }

  .search-container {
    display: none;
  }

}

@media screen and (max-width: 1076px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive .search-icon {
    position:absolute;
    right: 46px;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen  and (max-width: 1076px) {
  .search-container.responsive {
    position: relative;
    /*right: 86px;
    top: 148px;*/
    display: block;
  }
}

.header {
  padding: 10px 0px;
  background: #fff;
  background-color: white;
}

.banner {
  display: flex;
  padding: 8px;
}

.flex-child {
  flex: 1;
  display: flex;
  align-items: center;
}

.flex-child:first-child {
  margin-right: 20px;
}

.media-links {
  flex: 1;
  padding: 30px;
  background: #fff;
  color: #C4D600;
  font-size: 30px;
  text-align: right;
}

.content {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.content h1, h2, h3, p {
  text-align: center;
}


.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 102px;
}

.mySlides {
  display: none;
}

.w3-badge {
  cursor: pointer;
  height: 16px;
  width: 13px;
  padding:0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.media-links .fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.footer {

  background: black;
  font-size: 20px;
  color: #888B8D;
  padding: 10px 0px;
  text-align: center;
}

.footer .footer-content {
  margin-left: 10%;
  margin-right: 10%;
}

.hosting-text {
  font-size: 12px;
}

.footer-text {
  font-size: 20px;
}

.footer-links {
  font-size: 14px;
  font-style: italic;
}

.footer img {
  margin-right: 9px;
  margin-left: 9px;
}

/*.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: legs; }
.item7 { grid-area: feet; }

.board-grid-container {
  display: grid;
  grid-template-areas:
    'header menu main right'
    'footer legs feet feet';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.board-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}*/

.r1 { grid-area: first; }
.r2 { grid-area: second; }
.r3 { grid-area: third; }
.r4 { grid-area: but1; }
.r5 { grid-area: but2; }
.r6 { grid-area: but3; }


.restore-grid-container {
  display: grid;
  grid-template-areas:
    'first second third'
    'but1 but2 but3';
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.restore-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}

#shop-button {
  border: none;
  background-color:#00AFD7;
  text-align: center;
  color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 25%/50%;
  padding: 20px 50px;
  font-size: 1.5em;
  width: auto;
}
#vol-button {
  border: none;
  background-color:#00AFD7;
  text-align: center;
  color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 20%/50%;
  padding: 20px 50px;
  font-size: 1.5em;
  width: auto;
  margin:auto;
}
#donate-button {
  border: none;
  background-color:#00AFD7;
  text-align: center;
  color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 25%/50%;
  padding: 20px 50px;
  font-size: 1.5em;
  width: auto;
  margin: auto;
}

#location-container {
  display: flex;
  padding: 75px 20px;
}

#location-text {
  width: 50%;
  margin: auto;
  text-align: right;
  margin-right: 40px;
  font-size: 1em;
}

#location-map {
  width: 50%;
  margin: auto;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.corporate-sponsor-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.corporate-sponsor {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
}
#about-page p {
  font-size: 1.5em;
}

.flex-parent {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  margin: 1em;
}

.flex-child-element img {
  width: 100%;
}

.flex-child-element h3 {
  text-align: center;
}

.flex-child-element:first-child {
  margin-right: 20px;
}

.get-involved {
  text-align: center;
}

.senior-button {
  background-color:#00AFD7;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.2 5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 10%/50%;
  width: auto;
  margin: auto;
  padding: 1em;
}

.vol-links-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

.vol-links-table td {
  border: 1px solid #000;
  text-align: left;
  padding: .5em;
}

.vol-links-table tr:nth-child(even) {
  background-color: #888B8D;
}

.newsletter-archive {
  width: 100%;
  border-collapse: collapse;
  margin: 2em;
}

.newsletter-archive td {
  border: 3px solid #000;
  text-align: left;
  padding: .5em;
}

.newsletter-archive th {
  border: 3px solid #000;
  text-align: center;
  padding: .5em;
}

.newsletter-archive tr:nth-child(even) {
  background-color: #888B8D;
}

.shop-flex-container {
  display: flex;
  width: 100%;
}

.shop-flex-object {
  flex: 1;
}

.re-don-flex-con {
  display: flex;
  width: 100%;
}

.re-don-flex-obj {
  flex: 1;
  text-align: center;
}

.re-vol-flex-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.re-vol-flex-obj {
  flex: 1;
  text-align: center;
  border: 1px black solid;
  margin: 0 .5em;
}

.grid1 { grid-area: first; }
.grid2 { grid-area: second; }
.grid3 { grid-area: third; }
.grid4 { grid-area: fourth; }


.grid-container {
  display: grid;
  grid-template-areas:
    'first second'
    'third fourth';
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.group-build-flex-con {
  display: flex;
  width: 100%;
}

.group-build-flex-obj {
  flex: 1;
  text-align: center;
  margin: 0 .5em;
}

.group-build-flex-obj img {
  width: 100%;
}

.sponsor-button {
  background-color:#00AFD7;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.25em;
  display: inline-block;
  cursor: pointer;
  border-radius: 10%/50%;
  width: auto;
  margin: auto;
  padding: 1em;
}

.photo-grid {
  width: 100%;
}

.grid-element {
  display: inline-block;
  width: 32%;
  margin-bottom: 2em;
}

.grid-element img {
  width:100%;
}

.grid-element p {
  text-align: center;
}

.map-container {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.map-container img {
  width: 85%;
  border-style: solid;
  border-color: #000;
}

.income-reqs {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}


.income-table table, th, td {
  border: 1px solid black;
}

#donation-button {
  background-color: #00AFD7;
  border: none;
  color: white;
  text-align: center;
  padding: 1em;
  cursor: pointer;
  box-shadow: 2px 2px 3px #999;
  width: auto;
  margin: auto;
  font-size: 1.25em;
  border-radius: 30%/50%;
}

#donate-form {
  text-align: center;
}

#mc_embed_shell {
  margin:auto;
}

#mc_embed_signup {
  margin: auto;
}

.holiday-container {
  display: flex;
  width: 100%;
  padding-bottom: 4em;;
}

.holiday {
  text-align: center;
  flex: 1;
  width: 70%;
}

.holiday-background {
  flex: 1;
  width: 15%;
  text-align: center;
}

.holiday-background img {
  width: 85%;
  opacity: .67;
}

.centered-list {
  display: inline-block;
  text-align: left;
}

.centered-list li {
  font-size: 1.5em;
}