/* Allowable colors: #888B8D, #fff, #00AFD7, #C4D600, #000*/

.navbar {
  overflow: hidden;
  background-color: #00AFD7;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .icon {
  display: none;
}

.navbar .search-icon {
  display: none;
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 11px;
  font-size: 16px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 11px;
  margin-right: 16px;
  background: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #FF671F;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1076px) {

  .navbar a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar a.search-icon {
    float: right;
    display: block;
  }

  .search-container {
    display: none;
  }

}

@media screen and (max-width: 1076px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive .search-icon {
    position:absolute;
    right: 46px;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen  and (max-width: 1076px) {
  .search-container.responsive {
    position: absolute;
    right: 86px;
    top: 148px;
    display: block;
  }
}

.header {
  padding: 10px 0px;
  background: #fff;
  background-color: white;
}

.banner {
  display: flex;
  padding: 8px;
}

.flex-child {
  flex: 1;
  display: flex;
  align-items: center;
}

.flex-child:first-child {
  margin-right: 20px;
}

.media-links {
  flex: 1;
  padding: 30px;
  background: #fff;
  color: #C4D600;
  font-size: 30px;
  text-align: right;
}

.content {
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 102px;
}

.mySlides {
  display: none;
}

.w3-badge {
  cursor: pointer;
  height: 16px;
  width: 13px;
  padding:0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.media-links .fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.footer {

  background: black;
  font-size: 20px;
  color: #888B8D;
  padding: 10px 0px;
  text-align: center;

}

.footer p {
  margin-left: 10%;
  margin-right: 10%;
}

.hosting-text {
  font-size: 12px;
}

.footer-text {
  font-size: 20px;
}

.footer-links {
  font-size: 14px;
  font-style: italic;
}

.footer img {
  margin-right: 9px;
  margin-left: 9px;
}